/* * {
  outline: solid 1px red;
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  font-weight: 300;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 34px;
  line-height: 1.235px;
  letter-spacing: 0.25px;
  font-weight: 300;
  margin-bottom: 2rem;
}

h3 {
  font-size: 20px;
  line-height: 1.6px;
  letter-spacing: 0.15px;
  font-weight: 500;
  
}

.headshotImg {
  height: 15rem;
  -webkit-mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0) 50%);
  mask-image: radial-gradient(circle, black 55%, rgba(0, 0, 0, 0) 50%);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10rem;
}

.img-container {
  margin-top: 10rem;
  margin-left: 10%;
  text-align: center;
}

.flex-container {
  display: flex;
}

.content {
  padding-top: 12rem;
  padding-bottom: 15rem;
  scroll-snap-align: start inherit;
}

.content-container {
  scroll-snap-type: x mandatory;
  margin-right: 15%;
}

.icon-container {
  margin: 0.5rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 27rem;
}

.fa-brands, .fa-file-pdf {
  margin-right: 1rem;
}

.fa-file-pdf {
  color: #3D5936;
}

.fa-linkedin {
  color: #1976d2;
}

.fa-envelope {
  color: #F87D3A;
}

.projectItem {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#projectPortfolio {
  display: flex;
}

.projectInfo, .projectImage {
  display: inline-block;
  margin-left: 1.5rem;
}

.projectInfo {
  max-width: 75%;
  /* margin-left: 1.5rem; */
}

.screenshot {
  height: 12rem;
}

.content a:link, a:visited{
  transition: background-color 1s;
  /* background-color: #E9D758; */
  color: black;
  font-size: 12px;
  line-height: 2.66;
  letter-spacing: 1;
  font-weight: 300;
}

.content a:hover {
  background-color: #EFE281;
}

.icon-container a:link{
  text-decoration: none;
}